<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SportsClub"
        tools:targetApi="31">
        <activity
            android:name=".ActividadesListaActivity"
            android:exported="false" />
        <activity
            android:name=".ActividadesActivity"
            android:exported="false" />
        <activity
            android:name=".DatosPagoActivity"
            android:exported="false"/>
        <activity
            android:name=".PaymentListActivity"
            android:exported="false" />
        <activity
            android:name=".ListarVencimientosActivity"
            android:exported="false" />
        <activity
            android:name=".CarnetSocioActivity"
            android:exported="false" />
        <activity
            android:name=".PagoOkayActivity"
            android:exported="false" />
        <activity
            android:name=".NoSocioOkay"
            android:exported="false" />
        <activity
            android:name=".SocioOkay"
            android:exported="false" />
        <activity
            android:name=".RegNoSocio"
            android:exported="false" />
        <activity
            android:name=".RegSocio"
            android:exported="false" />
        <activity
            android:name=".MainMenu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>